include mixins/panels
include mixins/navigationUtility
include mixins/navigationHygiene
include mixins/googleAnalytics

doctype html
html
  head
    title Spark*
    link(rel='stylesheet', href='/vendor/fancybox/jquery.fancybox.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    mixin gaTag
  body
    div(id="container")
        header
            a(name="top")
            .columns.navigation-utility
                mixin navigationUtility
            block header

        block panels
        block content
        footer 
            - if (typeof(atHome) === 'undefined')
                .footer-bar

            section(id="partners")
                h3 Partners
                ul
                    li
                        a(href="https://www.ashoka.org/", title="Ashoka")
                            img(src="/images/partners/Ashoka_BW.png", alt="Ashoka")

                    li
                        a(href="http://www.echoinggreen.org/", title="Echoing Green")
                            img(src="/images/partners/EchoingGreen_BW.png", alt="Echoing Green")

                    li
                        a(href="http://skollworldforum.org/gsbi/", title="Global Social Benefit Incubator")
                            img(src="/images/partners/GSBI_BW.png", alt="Global Social Benefit Incubator")

                    li
                        a(href="https://bayarea.the-hub.net/", title="Hub")
                            img(src="/images/partners/Hub_BW.png", alt="Hub")

                    li
                        a(href="http://unreasonableinstitute.org/", title="Unreasonable Institute")
                            img(src="/images/partners/Unreasonable_BW.png", alt="Unreasonable Institute")

            section(id="social")
                ul
                    li(id="social-facebook")
                        a(href="http://www.facebook.com/pages/Spark/120262568012653") Facebook
                    li(id="social-youtube")
                        a(href="http://www.youtube.com/sparkinternational") YouTube
                    li(id="social-twitter")
                        a(href="http://www.twitter.com/sparkAUS") Twitter

                div(id="facebook-widget")


            section(id="touch-comment")
                ul
                    li 
                        a(href="mailto:support@sparkinternational.org", title="Get in touch with us") Get in touch with us


                blockquote
                    p There are loads of intelligent, passionate people in the countries where extreme poverty exists. Our job is the more modest one, to get behind them.
                    cite Paul Collier, <br> professor of Economics, Oxford University

            section(id="subtle-panels")
                mixin panels(false, false, true)
            .navigation-hygiene
                mixin navigationHygiene
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src='/vendor/fancybox/jquery.fancybox.pack.js')
    script(src='/vendor/fancybox/helpers/jquery.fancybox-media.js')

    
    block scripts



