extends layout

block content
    form(method="POST", action="/auth/login")
        .username
            label(for="username") Username
            input(id="username", type="text", name="username", autocapitalize="off")
        .password
            label(for="password") Password
            input(id="password", type="password", name="password")
        input(type="submit", value="Login")
