extends layout

include mixins/sparkLogo
include mixins/cta
include mixins/messageBlock
include mixins/oneMillPPlPart
include mixins/projectSearchEntry

block panels
    ol(class="panels one-million-panels")
        mixin headerPanel
        mixin localPassion
        mixin yourSupport
        mixin outOfPoverty(true)

block content
    link(rel='stylesheet', href='/stylesheets/oneMillion.css')
    #one-mill-ppl
        .map-ap
            img.ap-map(src='/images/1-map.png')
        .columns
            .column.triple-column
                h1 1 million people out of extreme poverty
                .message-blocks
                    div(style="position: inherit;")
                        mixin messageBlock(data.education, true)
                        mixin messageBlock(data.employment, true)
                        mixin messageBlock(data.environment, true)
                        mixin messageBlock(data.gender_equality, true)
                        mixin messageBlock(data.health, true)
                p.head-paragraph 
                    | To change 1 million lives Spark* will find and enable 1000 Changemakers over the next 
                    | decade as they bring at least 1000 people in their communities out of extreme poverty.
                .first-cta
                    .for-cta  
                        mixin cta('fund', 'fund-a-changemaker', 'A Changemaker', 'Find', '/change-maker')       
                        .partner-with to partner with
            .column.single-column.selected-column
                .nav-in-page
                    h3 What does it mean to live in Extreme Poverty?
                    p We asked our changemakers and they broke it down for us. Problems generally fall in to one of the following categories.
                    ul
                        li
                            a(href="#education") Education
                            img.img-arrow-left(src='/images/arrow-left-brown.png')
                        li 
                            a.employment(href="#employment") Employment
                            img.img-arrow-left(src='/images/arrow-left-brown.png')
                        li 
                            a.environment(href="#environment") Environment
                            img.img-arrow-left(src='/images/arrow-left-brown.png')
                        li 
                            a.gender-equality(href="#gender-equality") Gender Equality
                            img.img-arrow-left(src='/images/arrow-left-brown.png')
                        li 
                            a.health(href="#health") Health
                            img.img-arrow-left(src='/images/arrow-left-brown.png')
        - var increment = '.full-story'
        mixin oneMillPplPart(data.education, true) 
        mixin oneMillPplPart(data.employment, false)
        mixin oneMillPplPart(data.environment, false)
        mixin oneMillPplPart(data.gender_equality, false)
        mixin oneMillPplPart(data.health, false)
    .bottom-panel
        img(src="/images/bottom-panel.png")
    .margin20  
append scripts
    script(src="/scripts/hrefers.js")
