extends layout

block content
    section.static
        h1 Privacy Policy
        :markdown
            ##Privacy##

            Use of [www.sparkinternational.org](http://www.sparkinternational.org/) (“the Website”) is provided by Spark\* International (“Spark\*”), an international not for profit organisation that is based in both Australia as Spark International Australia Ltd and in the USA as Spark International USA. Spark\* takes privacy and data protection issues seriously. We have established this Privacy Policy to explain how we handle personally identifiable information collected from participants and donors on this Web site [www.sparkinternational.org](http://www.sparkinternational.org/).

            By accessing and using the Site, you agree that you have read and understand this Privacy Policy and you accept and consent to the privacy practices (and any uses and disclosures of information) that are described in this Privacy Policy.

            This policy sets out Spark\*'s personal information management practices. It covers the following areas:

            * application of policy;
            * personal information collected;
            * use and disclosure of personal information;
            * credit card security
            * use of the website;
            * accessing and updating personal information;
            * security of personal information;
            * information security;
            * data tracking;
            * external links;
            * changes to this privacy policy; and
            * contact details.

            ##Application of policy##

            This policy applies to all our personnel, including volunteers and other individuals with whom we do business.

            ##Responsibilities of personnel##

            It is the responsibility of all personnel to:
            * be familiar with this policy; and
            * comply with this policy.

            ##Personal information collected##

            Spark\* only collects personal information that is necessary for Spark\*’s functions and activities. This information will only be collected with the consent of the individual or otherwise in accordance with the law.

            As with many other Web sites, the Web servers used to operate the Site may collect certain non-personal data pertaining to users of the Site and the equipment and communications method that they use to access the Internet and the Site. Without combining these data with other sources of information, they do not readily or personally identify individuals. They may reveal such things as the Internet protocol (“IP”) address assigned to an individual’s computer, specific pages that an individual accessed on the Site or immediately prior to visiting the Site, and the length of time spent in a visit to the Site. The purposes for which this information is collected and used include facilitating Site operation and system administration, the generating of aggregate, non-identifiable statistical information, monitoring and analysing Site traffic and usage patterns, and improving the content and content delivery with regard to the Site and the content, materials, opportunities, and services that we describe or make available on the Site.

            You may receive updates from Spark\*. If at any time you would like to unsubscribe from our email list, you may do so by clicking the unsubscribe link in the email.

            We may also use “cookies” (small text files stored on users’ computers) to help track and customise access and use of the Site. Cookies store and retain information that helps us recognise individuals when they return to the Site following a previous visit. Most popular Internet browser packages allow one to configure the browser so as not to accept cookies. However, setting your browser to reject cookies may, in certain instances, prevent you from taking full advantage of the Site and the materials, products, and services that we make available on the Site.

            ##Use and disclosure of personal information##

            Spark\* will generally use and disclose personal information for purposes related to the main purpose for which the information was collected, or where the individual has consented to the use or disclosure.

            In addition, Spark\* may disclose personal information to third party service providers who assist Spark\* in providing its services. These may include companies which assist with data processing and analysis, research, mail services or maintenance. Personal information will only be disclosed to those third party service providers on a confidential basis so that the service provider can effectively provide those services.

            Specifically, Spark\* uses Braintree (https://www.braintreepayments.com/) to process payments.
            Under circumstances where we determine that members may be misusing our systems for malicious purposes, such activities may be reported to law enforcement agencies. In such cases, we may release personally identifiable information, including name and address, to those agencies.

            ##Disclosure when required by law##

            Spark\* may otherwise use or disclose personal information where required or authorised by law, which may include emergency situations and assisting law enforcement agencies.

            ##Access to database/mailing lists##

            Spark\* will not allow access to Spark\*'s database or mailing lists to any other organisation or individual, except as expressly permitted by the user. However, if the material another organisation or individual wishes to circulate through the Spark\* database is sympathetic with Spark\*’s core values and is within the use anticipated by those on the mailing list, Spark\* will take responsibility for the circulation and will ask that the organisation/individual to provide Spark\* with a letter explaining their request.

            ##Braintree & credit card security##

            Spark\* uses the Braintree Payment Gateway for our online credit card transactions.
            Braintree processes online credit card transactions for thousands of merchants, providing a safe and secure means of collecting payments via the Internet.

            All online credit card transactions performed on this site using the Braintree gateway are secured payments. We do not hold your credit card information.

            Braintree adheres to international PCI (payment card industry) compliance standards for data security.

            Payment Card Industry Data Security Standard (PCI DSS) is a set of 12 requirements that all businesses who handle credit or debit card payments must comply with. The PCI Security Standards require all merchants, regardless of size or number of transactions, who accept, store, transmit or process any cardholder data to comply with PCI DSS. You can find out more about PCI here.
            Braintree's PCI Compliance can be validated here.

            ##Accessing and updating your personal information##

            Spark\* takes reasonable steps to make sure that the personal information collected, used and disclosed is accurate, complete and up-to-date. Individuals who need to access or correct any personal information held by Spark\* about them are asked to update their details through the site or if this is not available send a request to support@sparkinternational.org. As much detail as possible should be provided by the individual about the particular information sought, in order to enable Spark\* to retrieve it. 

            In certain circumstances, Spark\* may not be required by law to provide the individual with access to, or to correct, personal information. If this is the case, reasons will be given for that decision.

            ##Security of personal information##

            Spark\* takes reasonable steps to protect all of the personal information it holds from misuse and loss and from unauthorised access, modification or disclosure. This protection applies in relation to information stored in both electronic and hard copy form.

            ##Information security##

            Spark\* uses firewalls and other industry standard security technology, as well as industry standard security practices, to protect personal and confidential information that we receive and to prevent that information from being accessed by unauthorized persons. For example, we work to protect the security of information submitted through the Site during transmission by using Secure Sockets Layer (SSL) software, which encrypts information. The information that you submit through the Site is gathered on computers, and stored in a data centre, protected by industry standard security practices. The number of employees that have physical access to our data centre, and to the computer on which personal information is stored, is limited.

            Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, we cannot ensure or warrant the security of any information you transmit to us, and you do so at your own risk. Once we receive your transmission, we make our best effort to ensure its security on our systems.

            You are responsible for the use and safeguarding of any login ID that we issue to you regarding the use of the Site and any associated passwords. It is important for you to protect against unauthorized access to your login ID and password, to other sensitive data regarding your account with us, and to your computer.

            ##Data tracking##

            In order to better serve our members, we use cookies and periodically analyse web logs. We may collect IP addresses to better understand where our traffic is coming from, and to provide customized services to members. We may also use third-party services such as Google Analytics. This helps us understand traffic patterns and know if there are problems with our website. We may also use embedded images in emails to track open rates for our mailings, so that we can tell which mailings appeal most to Spark\* supporters.

            URLs contained in emails may contain an ID that enables us to correctly identify the person who takes an action using a web page. We use these URLs to simplify the process of signing petitions and filling out surveys. We may occasionally present a shortened URL that references a longer URL which contains an ID - we do this to simplify the display, to prevent links from becoming broken when copied, and to ensure compatibility with email programs which do not handle long URLs. When a shortened URL is displayed in an email, you will see the full URL in the browser's address bar when you access the page.

            ##Links to other websites##

            We may provide links to third party web sites, and other web sites may provide links to the Site. Third party web sites operate according to their own terms of use and privacy policies. We have no control over such third party web sites, and by using this Site, you acknowledge and agree that we are not responsible for the availability of such third party sites, and does not endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such sites. You further acknowledge and agree that we will not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, advertising, products, or other materials on or available from such sites.

            ##Changes to this privacy policy##

            We may revise or amend this policy at any time at our sole discretion. If we make any substantive changes in the way we collect or use personally identifying information provided by users, we will post a prominent announcement on our web site home page and post the changes on this page. We will never change our policies and practices to make them less protective of user information collected prior to the effective date of any changes without the consent of affected users. We encourage users to visit this page periodically to review our current policy.

            ##Contact##

            If you have any questions about this privacy statement, your personal information, or the practices of this Site, you can contact support@sparkinternational.org.

append scripts
    script(src="/scripts/urls.js")