extends layout

include mixins/radioField
include mixins/selectField
include mixins/pager
include mixins/projectSearchEntry

block panels
    ol(class="panels project-panels")
        mixin headerPanel
        mixin localPassion(true)
        mixin yourSupport
        mixin outOfPoverty

block content
    .columns.project-search
        .column.single-column
            .column-content
                h3
                    span(class="spark-title") Spark
                    b *&nbsp;
                    span believes in&nbsp;
                    a(href="/spark") Local Solutions to Local Problems
                p Meet our Changemakers. They all grew up in their communities. They are all leading powerful projects with one goal: to help people move out of poverty. And here is your chance to partner with them.
                p
                    a(href="/spark") Learn more about the power of local solutions.
        .column.single-column.selected-column
            .change-makers
                h3 Filter changemakers
                mixin radioField("From", "country", countryFilters, selectedCountry)
                mixin radioField("with impact in", "category", categoryFilters, selectedCategory)
        .column.double-column
            .find-change-maker
                h1 Find a Changemaker to partner with
                mixin selectField("Order by", "order", orderFilters, selectedOrder)
            each project in projectsPage.projects
                mixin projectSearchEntry(project)
            .project-pager
                    mixin pager(projectsPage.thisPage, projectsPage.totalPages, pagingUrl)

append scripts
    script(src="/scripts/projects.js", defer)
    script(src="/scripts/urls.js", defer)
