@import 'nib'
@import variables
@import mixins

div#spark2
    background: url('/images/map.png') no-repeat

    .columns
        .column
            .margin-cta
                margin-bottom 65px


    #spark-infographic
        H1
            margin-left 15px
            height 36px
        .yellow-ppl
            position relative
            left 70px
            top 35px
            background url('/images/cloudlets.png') no-repeat
            width 511px
            height 400px

        .infographic-messages
            height 511px
           
        .infographic-intro
            margin-top 60px
            text-align center
            color brown
            h2
                font-size sectionHeadSize
                font-family sparkFontBold
                padding-top 20px
                padding-bottom 5px
            p
                font-size sparkGraphicIntro

                strong
                    font-weight bold
            .cloudlet-left-top
                 margin-top 20px

        .spark2_message
            z-index 1
            position relative
            width 190px
            height 120px
            text-align center
            font-size labelSize 
            font-weight bold
            strong
                color blue
                font-family sparkFontBold
                font-size smallHeadSize
            span
                z-index 2
                color brown
           .cloudlet
                position absolute
                z-index -1
                width 240px

        .quote
            background-color blue
            text-align center
            padding 20px
            margin-bottom 20px
            blockquote
                text-transform: uppercase
                line-height 0.85
                color white
                margin-bottom 6px
                font-family sparkFontBold
                font-size largeHeadSize
            em
                font-size labelSize
                color black
    .columns
        .column
            padding 0px
            > *
              margin 8px

            .column-section-header
                padding-top 10px
        .selected-column
            color brown
            text-align right
            line-height spacedLines
            background-transparency(subtler,0.2)
            vertical-align top
            font-family: sparkFontBold
            font-size sectionHeadSize
            .spark-page-nav
                text-align left
                margin-top 200px
                font-size sectionHeadSize
                vertical-align top
            a
                font-family bodyFont
                font-size textSize
                color blueLink

        .triple-column
            h1
                padding-top 10px
                font-family sparkFontBold 
                font-size largeHeadSize
                height 25px
                a
                    color blue

    .spark-background-blue
        background-color blue

    .spark-brown
        margin-top: 50px;
        color brown
        font-size: sparkLargeTextSize

    .spark-big-text
        font-size:largeHeadSize
        margin:3px 0 25px 10px
        padding:15px 0 15px 0;
        line-height: 0.79
        text-shadow: 1px 1px 1px black

    .spark-small-text
        line-height: 1.29
        color: brown
        margin: 20px 0px
        font-size: textSize

    .spark-span-text
        color:white
        font-size:sparkTextSize
        margin-left:10px
        padding-bottom:10px
        text-shadow: none

    .spark-imgOrvideo
        margin: 0 0 0 70px
        background: url('/images/black-man.png') no-repeat
        width: 530px
        height: 320px
        -moz-box-shadow: 0 0 20px rgba(0,0,0,1)
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,1)
        box-shadow: 0 0 20px rgba(0,0,0,1)
        position relative

        &:after
            size = 100px
            content "▶"
            color white
            position absolute
            top 110px
            left 220px
            font-size sparkVideoPlaySize
            opacity 0.7

    .spark-top-up
        a
            text-decoration none
            color black
            padding-left 10px
            img
                margin-left 20px
                text-align right
        position relative
        top -20px
        cursor pointer
        font-size:labelSize
        float right
        background-transparency(brown,0.1)
        height:22px
        width:75px
        &:hover
            background-transparency(brown,0.2)

    .img-right-sleeve
        margin: 0 5px 0 10px
    .margin-div > ul
        margin-bottom 18px
        li
            height 23px
        
.bottom-panel
    margin-top 2px
    img
        position absolute
        left 0px
        width 100%
        height 100px
    // height 20px

.margin20
    margin-bottom 170px
.float-left
    float left

.float-right
    float right

.black
    color black


