include donationAmountSelector
include fundButton

mixin donationForm(project, user, hidden, selectedAmount, countries)
    form.donation-form#donation-form(action="/change-maker/#{project.slug}/donate", method="POST", aria-hidden= hidden ? "true" : "false")
        a.cancel(href="#") cancel
        mixin donationAmountSelector(selectedAmount)

        fieldset.fund-from
            legend.field-title from
        
            .row
                label(for="donation_first_name") Name
                .name-container
                    input.first-name(type="text", name="first_name", id="donation_first_name",
                        placeholder="First name", value= user && user.first_name, class="required")
                .name-container
                    input.last-name(type="text", name="last_name", id="donation_last_name",
                        placeholder="Last name", value= user && user.last_name, class="required")

            .row
                label(for="donation_email") Email
                input(type="email", name="email", id="donation_email",
                    value= user && user.email, class="required email")

        fieldset
            legend.field-title using the following credit card

            .row
                label(for="donation_number") Card number
                input(type="text", id="donation_number", autocomplete="off", size="20",
                    data-encrypted-name="number", class="required creditcard")

            .row.expiry
                .form-column
                    label(for="donation_expiry_month") Expiry
                    select(id="donation_expiry_month", data-encrypted-name="month")
                        option(value="01") 1 - Jan
                        option(value="02") 2 - Feb
                        option(value="03") 3 - Mar
                        option(value="04") 4 - Apr
                        option(value="05") 5 - May
                        option(value="06") 6 - Jun
                        option(value="07") 7 - Jul
                        option(value="08") 8 - Aug
                        option(value="09") 9 - Sep
                        option(value="10") 10 - Oct
                        option(value="11") 11 - Nov
                        option(value="12") 12 - Dec
                    select(id="donation_expiry_year", data-encrypted-name="year")")"
                        - for (var currYear = new Date().getFullYear(), endYear = currYear + 10; currYear < endYear; currYear++)
                            option(value=currYear)= currYear
                .form-column
                    label(for="donation_cvv") CVV
                    input(type="text", id="donation_cvv", autocomplete="off", size="4",
                        data-encrypted-name="cvv", class="required digits")

        fieldset
            legend.field-title with billing address of

            .row
                label(for="donation_address1") Address
                input(type="text", name="address1", id="donation_address1", class="required")
            .row
                input(type="text", name="address2", id="donation_address2")

            .row
                label(for="donation_city") City
                input(type="text", name="city", id="donation_city", class="required")

            .row
                label(for="donation_state") State
                input(type="text", name="state", id="donation_state", class="required")

            .row
                label(for="donation_country") Country
                select.country(name="country", id="donation_country")
                    each option in countries
                        option(value= option.alpha2, selected= option.alpha2 === 'AU')= option.name

            .row
                label(for="donation_postcode") Postcode
                input.postcode(type="text", name="postcode", id="donation_postcode", class="required")

        fieldset
            legend.make-donation Make my donation

            .row.donation-options
                input(type="radio", name="anonymity", value="anonymous", id="donation_anonymity_anonymous")
                label(for="donation_anonymity_anonymous") anonymous

            .row.donation-options
                input(type="radio", name="anonymity", value="public", id="donation_anonymity_public", checked)
                label(for="donation_anonymity_public") public

        fieldset
            legend.field-title and keep me posted with

            .row.donation-options
                input(type="checkbox", name="updates", id="donation_updates_changemaker", value="changemaker")
                label(for="donation_updates_changemaker")= "updates from " + project.changemaker.first_name

            .row.donation-options
                input(type="checkbox", name="updates", id="donation_updates_spark", value="spark")
                label(for="donation_updates_spark") updates from Spark*

        input(type="hidden", name="project_slug", value=project.slug)

        mixin fundButton("submit", project.changemaker.first_name, 'donation_submit')
        a.cancel(href="#") cancel
        .legal-text
            p
                | Spark* uses the Braintree Payment Gateway for our online credit card transactions. 
                | Braintree processes online credit card transactions for thousands of merchants, 
                | providing a safe and secure means of collecting payments via the Internet.
            p
                | Braintree adheres to international PCI (payment card industry) compliance standards 
                | for data security. Read more about our security in our 
                | <a href="/privacy-policy" title="Spark* Privacxy Policy">privacy policy</a>.
    .donation-success(aria-hidden="true")
        .mission-accomplished You did it - 100% 
        .thanks Thank you
            span.first-name
            span.last-name &nbsp;
        .thanks-detail Your funds have been  added to the  Spark* grant
            | for #{project.changemaker.first_name}. A receipt has been sent to your email address.
        - if (false)
            .remaining-needed At
                span.fund-amount  $25
                |  a person we only need
                span.remaining-funder-count &nbsp;40
                |  more funders
                .share Do you know
                    span.remaining-funder-count &nbsp;40
                    |  people? Spread the word
        .sharing
            .addthis
                // AddThis Button BEGIN
                .addthis_toolbox.addthis_default_style
                    a.addthis_button_email
                    a.addthis_button_tweet
                script var addthis_config = {ui_508_compliant: true};
                script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5162baea0000c270")
                // AddThis Button END
            .facebook
                script(src='/scripts/facebook.js')
                .fb-like#facebook(data-send="false", data-width="300", data-show-faces="false")
                script document.getElementById('facebook').setAttribute('data-href', location.href);
        a.cancel(href="#") close
        
