mixin helperBadge(helper)
    img.avatar(src=helper.avatar_url)
    .details
        .name= helper.is_anonymous ? 'A Good Samaritan' : helper.first_name + ' ' + helper.last_name
        .location= helper.is_anonymous ? 'The Global Community' : helper.location
        - if (helper.amount_usd)
            .amount= "$" + helper.amount_usd
