mixin sparkLogo(flag)
	- if(flag === "first")
		h1.spark-logo-first Spark
			b*
			span.belives-in  believes in
			span.title-head &nbsp LOCAL SOLUTIONS TO LOCAL PROBLEMS
	- else if (flag === "last")
		h1.spark-logo-href Spark
			b *
			span.belives-in  exists to &nbsp &nbsp 
			a.title-href(href="#spark-find") FIND
			span.title-href , 
			a.title-href(href="#spark-accelerate") ACCELERATE
			span.title-href , 
			a.title-href(href="#spark-support")  SUPPORT
			span.title-href  AND 
			a.title-href(href="#spark-fund") FUND
			span.title-href  LOCAL CHANGEMAKERS
	- else
		span.spark-logo Spark
			b *